*{
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: #0D0D0D;
}
header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 1rem;
    text-shadow: 0 0 8px #0D0D0D;
    text-shadow: 0 0 5px #00FF00;
}
.top-div{

}
.nav-div{
    display: flex;
    width: 100%;
}
.current-page{
    color:#00FF00;
    text-shadow: 0 0 8px white;
}
.nav-div a:not(.current-page) {
    background-color: #0D0D0D;
    text-shadow: 0 0 8px #00FF00;
}
.nav-div a{
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 1rem;
    text-decoration: none;
}


