*{
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: #0D0D0D;
    
    text-shadow: 0 0 8px #00FF00;
}
html {
  scroll-behavior: smooth;
}
header{
    font-size: 100px;
    font-weight: bold;
    padding-top: 1rem;
    text-align:center;
}
h1{
    text-align:center;
}
nav{
    display: block;
    max-width: 100%;
}
.nav-div{
    display: flex;
    width: 100%;
}
.current-page{
    color:#00FF00;
    text-shadow: 0 0 8px white;
}
a{
    text-decoration: none;
}
.nav-div a{
    flex: 1;
    text-align: center;
    font-size: 2rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 1rem;
}
canvas{
    display: block;
    max-width: 100%;
}
.section-header{
    font-size: 4rem;
    margin: 0;
}
.about{
    font-size: 2rem;
    text-indent: 60px;
}
.resume-download{
    text-align:center;
    font-size: 2rem;
    padding-bottom: 6rem;
}
.contact-div{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    gap: 0.8rem;
}
.introduction{
    text-align: center;
    margin-top: 2rem;
}
.osrsMarket{
    display: flex;
    flex-direction: row;
}
.marketImg{
    width: 50vw;

}
.projectHeader{
    text-align: center;
}
.marketDescription{
    width: 50vw;
}
.projectDescription{
    text-indent: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}