*{
    font-family: 'Fira Code', monospace;
    color: white;
    background-color: #0D0D0D;
}
header{
    font-size: 100px;
    font-weight: bold;
    padding-top: 1rem;
}
.top-div{
    text-align: center;
}
nav{
    display: block;
    max-width: 100%;
}
.nav-div{
    display: flex;
    width: 100%;
}
.current-page{
    color:#00FF00;
    text-shadow: 0 0 8px white;
}
.nav-div a:not(.current-page) {
    background-color: #0D0D0D;
    text-shadow: 0 0 8px #00FF00;
}
a{
    text-decoration: none;
}
.nav-div a{
    flex: 1;
    text-align: center;
    font-size: 2rem;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 1rem;
}
canvas{
    display: block;
    max-width: 100%;
}

.glow{
    text-shadow: 0 0 8px #00FF00;
}
.projects-button{
    text-align: center;
    font-size: 2rem;
}